site_name: Junia Code
site_url: https://lfox03.github.io/JuniaCode/
theme:
  name: material
  language: fr
  logo: assets/logo.png
  favicon: assets/icon.png
  palette:

    # Palette toggle for light mode
    - scheme: default
      primary: deep purple
      toggle:
        icon: material/brightness-7 
        name: Passer en mode sombre

    # Palette toggle for dark mode
    - scheme: slate
      primary: deep purple
      toggle:
        icon: material/brightness-4
        name: Passer en mode clair

  features:
    - navigation.indexes 
    - navigation.footer
    - navigation.top
    - navigation.path
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.sections
    
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_css:
  - stylesheets/extra.css

copyright: Copyright &copy; 2026